<!-- ======= Counts Section ======= -->
<section class="counts section-bg">
	<div class="container">
		<div class="section-title">
			<h2>СТАТИСТИКА</h2>
		</div>
		<div class="row">

			<div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
				<div class="count-box">
					<i class="bi bi-simple-smile" style="color: #20b38e;"></i>
					<span class="purecounter">100</span>
					<p class="count-text ">Пользователи</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
				<div class="count-box">
					<i class="bi bi-document-folder" style="color: #c042ff;"></i>
					<span class="purecounter">{{totalPlayersCount}}</span>
					<p>Игроки</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
				<div class="count-box">
					<i class="bi bi-live-support" style="color: #46d1ff;"></i>
					<span class="purecounter">{{totalManagersCount}}</span>
					<p>Скауты/Агенты</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
				<div class="count-box">
					<i class="bi bi-users-alt-5" style="color: #ffb459;"></i>
					<span class="purecounter">15</span>
					<p>Переходы в клубы</p>
				</div>
			</div>

		</div>

	</div>
</section>