<div class="banner" [hidden]="isMainPage">
	<h2><b>Игроки</b></h2>
	<p><a class="btn-link">Главная</a> | Игроки</p>
</div>

<section class="counts section-bg">
	<div class="container">
		<div class="section-title">
			<h2>О НАС</h2>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 text-center mx-auto" data-aos="fade-up">
				<p>Global Future Stars is an international football platform for young players which have the ambition to
					become great. We will accompany each of you to become the best version of yourself. Register now and we will
					assist you with professional football profile, regular football events with scouts and useful advices for your
					careers. Your better future is one step closer - START NOW.</p>
				<a class="btn btn-md btn-success animate__animated animate__fadeInUp scrollto">
					Подробнее
				</a>
			</div>
		</div>
	</div>
</section>