<div class="banner" [hidden]="isMainPage">
	<h2><b>О нас</b></h2>
	<p><a class="btn-link">Главная</a> | О нас</p>
</div>

<section class="counts section-bg d-none">
	<div class="container">
		<div class="section-title">
			<h2>О НАС</h2>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 text-center mx-auto" data-aos="fade-up">
				<p>Global Future Stars is an international football platform for young players which have the ambition to
					become great. We will accompany each of you to become the best version of yourself. Register now and we will
					assist you with professional football profile, regular football events with scouts and useful advices for your
					careers. Your better future is one step closer - START NOW.</p>
				<a class="btn btn-md btn-success animate__animated animate__fadeInUp scrollto">
					Подробнее
				</a>
			</div>
		</div>
	</div>
</section>

<section id="about" class="about section-bg">
	<div class="container bg-light" data-aos="fade-up">
		<div class="row no-gutters">
			<div class="col-lg-6 video-box">
				<img
					src="https://images.squarespace-cdn.com/content/v1/5cb43959ab1a622a6f781d96/1580891864317-0DIOS53DTVZ4DYRM28ZY/kevin+george+mental+health+in+football+emotional+literacy+football+coach+tips+soccer+coach+tips.jpg?format=1000w"
					class="img-fluid" alt="">
				<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
					data-autoplay="true"></a>
			</div>

			<div class="col-lg-6 d-flex flex-column about-content">

				<div class="section-title">
					<h2>About Us</h2>
					<p>
						Global Future Stars is an international football platform for young players which have the ambition to
						become great. We will accompany each of you to become the best version of yourself. Register now and we will
						assist you with professional football profile, regular football events with scouts and useful advices for
						your
						careers. Your better future is one step closer - START NOW
					</p>
				</div>

				<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
					<div class="icon"><i class="bx bx-fingerprint"></i></div>
					<h4 class="title"><a href="">Lorem Ipsum</a></h4>
					<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
						occaecati cupiditate non provident</p>
				</div>

				<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
					<div class="icon"><i class="bx bx-gift"></i></div>
					<h4 class="title"><a href="">Nemo Enim</a></h4>
					<p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
						voluptatum deleniti atque</p>
				</div>

			</div>
		</div>

	</div>
</section>